<?xml version="1.0"?>

<model>
  <name>observer</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <fdm_port_in>9002</fdm_port_in>
  <fdm_port_out>9003</fdm_port_out>


  <description>
    A copy of the 3DR Iris model taken from
    https://github.com/PX4/sitl_gazebo/tree/master/models
    Local modifications include adding standoffs,
    inertia and collision updates..

    added a camera
  </description>
</model>
